@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('./fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('./fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arima_koshiregular';
    src: url('./fonts/arimakoshi-regular-webfont.woff2') format('woff2'),
         url('./fonts/arimakoshi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arima_koshisemi_bold';
    src: url('./fonts/arimakoshi-semibold-webfont.woff2') format('woff2'),
         url('./fonts/arimakoshi-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arima_koshibold';
    src: url('./fonts/arimakoshi-bold-webfont.woff2') format('woff2'),
         url('./fonts/arimakoshi-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-tan: rgb(247, 212, 146);
    --header-color: rgb(106, 63, 23);
    --text-color: rgb(63, 35, 9);
    --home-img-wrapper-color: rgb(153, 85, 22);
}

body {
    font-size: 2rem;
    font-family: "arima_koshiregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--main-tan);
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: var(--header-color);
}

header > p {
    font-family: "kaushan_scriptregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--main-tan);
}

header > p:hover {
    cursor: pointer;
}

nav {
    display: flex;
    gap: 3rem;
}

nav > button {
    font-family: "arima_koshisemi_bold", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px;
    background-color: var(--header-color);
    border: none;
    color: var(--main-tan);
}

nav > button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#content {
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    color: var(--text-color);
}

h1 {
    font-family: "kaushan_scriptregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3.5rem;
    font-weight: bold;
}

.img-wrapper {
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    overflow: hidden;
    border: 12px solid var(--home-img-wrapper-color);
    position: relative;
}

.img-wrapper > img {
    width: 100%;
    position: relative;
    bottom: 22%;
}

.order-now-text {
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 32%;
    color: white;
    font-size: 2.4rem;
    word-spacing: 2px;
}

.img-wrapper:hover {
    background-color: rgb(0 0 0 / 0.5);
    img {
        z-index: -1;
    }
    .order-now-text {
        visibility: visible;
    }
    cursor: pointer;
}

#order-now-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-size: 1.9rem;
    background-color: var(--main-tan);
    color: var(--text-color);
    border-radius: 20px;
    border-color: var(--text-color);
}

.dialog-wrapper {
    display: grid;
    place-items: center;
    gap: 10px;
}

.dialog-wrapper > p {
    text-align: center;
}

.dialog-wrapper > button {
    padding: 0px 10px;
    border-radius: 10px;
    background-color: var(--text-color);
    color: var(--main-tan);
    border: 2px outset black;
}

.dialog-wrapper > button:focus-visible {
    outline: 1px solid white;
}

.dialog-wrapper > button:hover {
    background-color: var(--header-color);
}

.dialog-wrapper > button:active {
    background-color: var(--home-img-wrapper-color);
    border: 2px inset black;
}

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.4);
}

.home-text,
.about-text-container > p,
.about-img-container > p {
    word-spacing: 2px;
    text-align: center;
}

.menu {
    max-width: 80rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-section {
    display: grid;
    gap: 2.2rem;
    justify-items: center;
    padding-top: 0.8rem;
    grid-template-rows: min-content 1fr;
}

.menu-section h2 {
    font-family: "kaushan_scriptregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.2rem;
    font-weight: 500;
}

.menu-item-group {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 35rem;
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

.about-text-container {
    display: grid;
    gap: 3rem;
    width: 70%;
}

.about-text-container > p {
    line-height: 1.7;
}

.about-img-container {
    display: grid;
    place-items: center;
    gap: 2.5rem;
    font-size: 1.7rem;
}

.contact-container {
    padding-top: 3rem;
    display: flex;
    gap: 7rem;
}

.contact-container h3 {
    font-family: "arima_koshibold", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.1rem;
}

.hour-items {
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
}

.contact-right {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.address {
    font-family: "arima_koshisemi_bold", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}